.awesome-content{
    width: 1170px;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
.awesome-name{
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #000000;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: 100;
    /* margin-right: 169px;
    margin-left: 171px; */
}
.separator{
    width: 170px;
    height: 0px;
    left: 671px;
    top: 2003px;
    margin: auto;
    border: 1px solid #EC7979;
}
.awesome-line{   
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    height: 21px;
    margin-top: 40px;
    margin-bottom: 110px;
}
.awesome__section-block{
    display: flex;
    width: 370px;
    display: inline-block;
}
.awesome__section-block-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 39px;
}
.awesome__section-block-text-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.awesome__section-block-text-line{
    height: 105px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    line-height: 21px;
    margin: 8px 10px 58px 10px;
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

@media screen and (max-width:1530px){
    .awesome-content{
        width: 992px;
    }
    .awesome-name{
        font-size: 24px;
        line-height: 28px;
        height: 120px;
    }
    .separator{
        width: 142px;
    }
    .awesome-line{   
        font-size: 14px;
        line-height: 16px;
        height: 16px;
        margin-top: 32px;
        margin-bottom: 65px;
    }
    .awesome__section-block{
        width: 318px;
    }
    .awesome__section-block-img{
        margin-bottom: 33px;
    }
    .awesome__section-block-text-title{
        font-size: 18px;
        line-height: 25px;
        height: 82px;
    }
    .awesome__section-block-text-line{
        height: 64px;
        font-size: 14px;
        line-height: 16px;
        margin-right: 30px;
        margin-top: 17px;
        margin-bottom: 68px;
    }
}
@media screen and (max-width:1045px){
    .awesome-content{
        width: 320px;
    }
    .awesome-name{
        font-size: 18px;
        line-height: 21px;
        height: 120px;
        width: 288px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .separator{
        width: 134px;
    }
    .awesome-line{   
        font-size: 14px;
        line-height: 15px;
        height: 30px;
        margin-top: 25px;
        margin-bottom: 83px;
    }
    .awesome__section-block{
        width: 318px;
    }
    .awesome__section-block-img{
        margin-bottom: 33px;
    }
    .awesome__section-block-text-title{
        font-size: 18px;
        line-height: 25px;
        height: 82px;
    }
    .awesome__section-block-text-line{
        height: 64px;
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        margin: 9px 16px 42px 16px;
    }
    .awesome__section-block-text-line:last-child{
        margin-bottom: 60px;
    }
}