.pricing-option__block{
    width: 100%;
    background: #F5F5F5;
  }
  .price__content{
    width: 1508px;
    margin: 0 auto;
  }
  
  .price__content-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
    width: 1170px;
    height: 150px;
    margin-top: 50px;
    margin-left: 170px;
    margin-right: 170px;
    
  }
  /* .price__content-separator{
    margin-left: 170px;
    margin-right: 170px;
  } */
  .price__content-separator-img{
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    margin: auto;
    text-align: center;
    display: flex;
  }
  .price__content-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #86878B;
    width: 1170px;
    height: 21px;
    margin-top: 40px;
    margin-left: 170px;
    margin-right: 170px;
  }
  .pricing-option__block{
    display: flex;
  }
  .pricing-option__basic{
   width: 370px;
   margin-top: 80px;
   margin-bottom: 50px;
   margin-left: 170px;
   margin-right: 30px;
  }
  .pricing-option__optima{
    /* width: 370px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
    margin-bottom: 70px;
    box-shadow: 0 0 10px rgba(117, 114, 114, 0.5); */
    width: 370px;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .pricing-option__pro{
    width: 370px;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 170px;
  }
  .pricing-option__basic:hover {
    margin-top: 60px;
    margin-bottom: 70px;
    box-shadow: 0 0 10px rgba(117, 114, 114, 0.5);
    cursor: pointer;
    transition: all .3s;
  }
  .pricing-option__pro:hover{
    margin-top: 60px;
    margin-bottom: 70px;
    box-shadow: 0 0 10px rgba(117, 114, 114, 0.5);
    cursor: pointer;
    transition: all .3s;
  }
  .pricing-option__optima:hover{
    margin-top: 60px;
    margin-bottom: 70px;
    box-shadow: 0 0 10px rgba(117, 114, 114, 0.5);
    cursor: pointer;
    transition: all .3s;
  }
  
  .pricing-option__title{
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;
    height: 60px;
  }
  .pricing-option__price{
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    height: 100px;
  }
  .pricing-option__addition{
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    height: 50px;
  }
  .pricing-option__text{
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    color: #86878B;
  }
  