

.header{
  width: 100%;
  background: #000000;
}
.header__content{
  width: 1510px;
  margin: 0 auto;
  display: flex;
}
.header__img-logo{
  margin-left: 115px;
  margin-right: 471px;
}
.header__text{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  margin-right: 57px;
  height: 75px;
 
}
.header__text-link{
  color: #FFFFFF;
  text-decoration: none;
}
.menu-img{
  display: none;
}

@media screen and (max-width:1075px){
  .header__content{
    max-width: 1025px;
  }
  .header__img-logo{
    margin-right: 235px;
  }
}

@media screen and (max-width:1045px){
  .header__content{
    width: 100%;
  }
  .header__img-logo{
    margin-left: 20px;
    margin-right: 111px;
  }
  .header__text-link{
    display: none;
  }
  .menu-img{
    display: inline-block;
    visibility: visible;
    margin: 19px 35px 19px 0;
  }
}