html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.header{
  width: 100%;
  background: #000000;
}
.header__content{
  width: 1510px;
  margin: 0 auto;
  display: flex;
}
.header__img-logo{
  margin-left: 115px;
  margin-right: 471px;
}
.header__text{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  margin-right: 57px;
  height: 75px;
 
}
.header__text-link{
  color: #FFFFFF;
  text-decoration: none;
}



.axit{
  width: 100%;
  /* padding-top: 231px; */
  background: url(../img/image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.axit__back{
  width: 100%;
  padding-top: 231px;
  background-color: rgba(0, 0, 0, 0.5);
}
.axit__content{
  width: 1510px;
  margin: 0 auto;
}
.axit__block-text{
  margin-left: 170px;
  display: inline-block;
  width: 700px;
}
.axit__img-logo{
  width: 270px;
  height: 100px;
  margin-bottom: 73px;
  margin-right: 598px;
  display: flex;
}
.axit__text-title{
  margin-right: 30px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 670px;
  margin-bottom: 55px;
  display: flex;
  width: 670px;
}
.axit__img-separator{
  margin-bottom: 42px;
  width: 170px;
  height: 0px;
  border: 1px solid #FFFFFF;
  display: flex;
}
.axit__text{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 270px;
  margin-bottom: 42px;
  display: flex;
}
.axit__button{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background: none;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  transition: all .3s;  
  margin-bottom: 185px;
  height: 58px;
  width: 270px;
}
.axit__button:hover{
  color: #EC7979;
  border: 2px solid #EC7979;
  
}


.axit__form-block{
  display: inline-block;
  width: 470px;
  background: #FFFFFF;
  border-radius: 10px;
  vertical-align: top;
}
.form-title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  height: 90px;
  width: 367px;
  left: 53px;
  top: 0px;
  border-radius: nullpx;
  margin-left: 53px;
  margin-right: 50px;
  margin-bottom: 45px;

}
.form-title-pink{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #EC7979;
  margin-right: 7px;
  margin-left: 7px;
}
.axit__form-input{
  width: 370px;
  margin-right: 50px;
  margin-left: 50px;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  outline: none;
  padding-bottom: 16px;
  padding-top: 33px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
}
.axit__form-input-name{
  width: 370px;
  margin-right: 50px;
  margin-left: 50px;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  outline: none;
  padding-bottom: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;

}
.axit__form-button{
  width: 470px;
  height: 60px;
  margin-top: 75px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #EC7979;
  border-radius: 0px 0px 10px 10px;
  border-color: #EC7979;
  cursor: pointer;
  transition: all .3s; 
}
.axit__form-button:hover{
  background: #AB4949;
 border-radius: 0px 0px 10px 10px;
 border-color:#AB4949;
}

.axit__social{
  width: 100%;
  background: #F8EFEF;
}
.axit__social-content{
  width: 1510px;
  margin: 0 auto;
}
.axit__social-content-text{
  display: inline-block;
  width: 500px;
  margin-left: 170px;
}
.axit__social-text-title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #333333;
  width: 470px;
  height: 60px;
  margin-right: 50px;
  margin-bottom: 18px;
}
.axit__social-text{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #86878B;
  width: 470px;
  margin-bottom: 18px;
  margin-right: 50px;
}
.axit__social-content-img{
  display: inline;
}
.axit__social-img{
  display: inline;
  margin-bottom: 44px;
  margin-top: 40px;
  cursor: pointer;
  vertical-align: bottom;
  margin-right: 45px;
}
.axit__social-img-facebook{
  margin-right: 55px;
  display: inline;
  margin-bottom: 44px;
  margin-top: 40px;
  cursor: pointer;
  vertical-align: bottom;
}









.tabs{
  max-width: 1182px;
  margin: 0 auto;
}
.tabs__content{
  display: inline-block;
}

.tabs__content-tab{
  /* width: 38px; */
  height: 19px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin-top: 100px;
  
}
.tab{
  padding: 10px 82px 10px 82px;
  border-bottom: 1px solid #C6CBCD;
}
.tab__border-first{
  border-top: 1px solid #C6CBCD;
  border-left: 1px solid #C6CBCD;
  border-right:1px solid #C6CBCD;
  padding: 10px 82px 10px 82px;
}
.tab__border-first { border-radius: 5px 5px 0 0; }
.tab__border-second{
  border-bottom: 1px solid #C6CBCD;
  padding: 10px 178px 10px 82px;
}

.tabs__content-in{
  height: 509px;
  border-left: 1px solid #C6CBCD;
  border-bottom: 1px solid #C6CBCD;
  /* display: inline-block; */
}
.tabs__content-title-text{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  color: #000000;
  height: 124px;
  width: 570px;
  margin-left: 100px;
  margin-bottom: 27px;
  margin-right: 30px;
}
.tabs__content-text-lorem{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  /* height: 210px; */
  width: 570px;
  margin-left: 100px;
  margin-bottom: 27px;
}
.tabs__button{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #EC7979;
  border: none;
  margin-left: 100px;
  margin-bottom: 54px;
  height: 58px;
  width: 270px;
  cursor: pointer;
  transition: all .3s;  
  }
.tabs__button:hover{
  background: #AB4949;
  }
.tabs__content-img-block{
  display: inline;
  }
.tabs__content-img{
  display: inline;
  vertical-align: bottom;
  width: 470px;
 }




.awesome-content{
    width: 1170px;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
.awesome-name{
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #000000;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: 100;
    /* margin-right: 169px;
    margin-left: 171px; */
}
.separator{
    width: 170px;
    height: 0px;
    left: 671px;
    top: 2003px;
    margin: auto;
    border: 1px solid #EC7979;
}
.awesome-line{   
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #86878B;
    height: 21px;
    margin-top: 40px;
    margin-bottom: 110px;
}
.awesome__section-block{
    display: flex;
    width: 370px;
    display: inline-block;
}
.awesome__section-block-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 39px;
}
.awesome__section-block-text-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.awesome__section-block-text-line{
    height: 105px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    line-height: 21px;
    margin-right: 30px;
    margin-top: 8px;
    margin-bottom: 58px;
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  color: #000000;
}


.pricing-option__block{
  width: 1508px;
  background: #F5F5F5;
  margin: 0 auto;
}

.price__content-title{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #000000;
  width: 1170px;
  height: 150px;
  margin-top: 50px;
  margin-left: 170px;
  margin-right: 170px;
  
}
/* .price__content-separator{
  margin-left: 170px;
  margin-right: 170px;
} */
.price__content-separator-img{
  width: 170px;
  height: 0px;
  border: 1px solid #EC7979;
  margin: auto;
  text-align: center;
  display: flex;
}
.price__content-text{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #86878B;
  width: 1170px;
  height: 21px;
  margin-top: 40px;
  margin-left: 170px;
  margin-right: 170px;
}
.pricing-option__block{
  display: flex;
}
.pricing-option__basic{
 width: 370px;
 margin-top: 80px;
 margin-bottom: 50px;
 margin-left: 170px;
 margin-right: 30px;
}
.pricing-option__optima{
  /* width: 370px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 60px;
  margin-bottom: 70px;
  box-shadow: 0 0 10px rgba(117, 114, 114, 0.5); */
  width: 370px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.pricing-option__pro{
  width: 370px;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 170px;
}
.pricing-option__basic:hover {
  margin-top: 60px;
  margin-bottom: 70px;
  box-shadow: 0 0 10px rgba(117, 114, 114, 0.5);
  cursor: pointer;
  transition: all .3s;
}
.pricing-option__pro:hover{
  margin-top: 60px;
  margin-bottom: 70px;
  box-shadow: 0 0 10px rgba(117, 114, 114, 0.5);
  cursor: pointer;
  transition: all .3s;
}
.pricing-option__optima:hover{
  margin-top: 60px;
  margin-bottom: 70px;
  box-shadow: 0 0 10px rgba(117, 114, 114, 0.5);
  cursor: pointer;
  transition: all .3s;
}

.pricing-option__title{
  background: #333333;
  border: 2px solid #F5F5F5;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  color: #FFFFFF;
  height: 60px;
}
.pricing-option__price{
  background: #333333;
  border: 2px solid #F5F5F5;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  height: 100px;
}
.pricing-option__addition{
  background: #333333;
  border: 2px solid #F5F5F5;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  height: 50px;
}
.pricing-option__text{
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  color: #86878B;
}

.customers__block{
 width: 100%;
 margin: 0 auto;
 background: #FFFFFF;
}
.customers__content{
  width: 1170px;
  margin-right: 170px;
  margin-left: 170px;
  background: #FFFFFF;
}
.customers__content-title{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  color: #000000;
  padding-top: 50px;
  height: 150px;
}
/* .customers__content-separator{

} */
.customers__content-separator-img{
  width: 170px;
  height: 0px;
  border: 1px solid #EC7979;
  margin: auto;
  text-align: center;
  display: flex;
}
.customers__content-text{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #86878B;
  margin-top: 40px;
  margin-bottom: 83px;
}